.body
  .left
    .left__header
      .left__header__user
        user_name
      .left__header__btn
        = fa_icon 'pencil-square-o' 
        = fa_icon 'cog' 
    .left__contents
      .left__contents__groups
        .left__contents__groups__name
          sample_group
        .left__contents__groups__message
          Hello!
        .left__contents__groups__name2
          sample_group2
        .left__contents__groups__message2
          さようなら！
  .right
    .right__header
      .right__header__group
        group_sample
        .right__header__group__edit
          edit
      .right__header__members
        Member: ◯◯
    .right__contents
      .right__contents__messages
        .right__contents__messages__name
          test-user
        .right__contents__messages__data
          2019/09/09(Mon) 17:06:23
        .right__contents__messages__text
          こんにちは
        .right__contents__messages__name2
          test-user2
        .right__contents__messages__data2
          2019/09/09(Mon) 17:08:19
        .right__contents__messages__text2
          こんにちは！
    .right__footer
      .right__footer__textbox
        = fa_icon 'photo' 
      .right__footer__send
        Send