.body
  .left
    .left__header
      .left__header__user
        user_name
      .left__header__btn
        = fa_icon 'pencil-square-o' 
        = fa_icon 'cog' 
    .left__contents
      .left__contents__groups
        sample_groups
  .right
    .right__header
      .right__header__group
        group_sample
        .right__header__group__edit
          edit
      .right__header__members
        Member: ◯◯
    .right__contents
      .right__contents__messages
    .right__footer
      = fa_icon 'photo' 
      Send