.left {
  float: left;
  &__header {
    background-color: #253141;
    height: 100px;
    width: 300px;
    font-weight: bold;
    line-height: 100px;
    &__user {
      color: $mainWhiteColor;
      font-size: 16px;
      margin: 0 0 0 20px;
      float: left;
    }
    &__btn {
      // color: $mainWhiteColor;
      text-align: right;
      margin: 0 20px 0 0;
      i.fa {
        color: white;
      }
    }
  }
  &__contents {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    float: left;
    &__groups {
      &__name {
        font-size: 15px;
        padding: 20px 20px 5px 20px;
        font-weight: bold;
        color: $mainWhiteColor;
      }
      &__message {
        font-size: 11px;
        padding: 0 0 20px 20px;
        font-weight: bold;
        color: $mainWhiteColor;
      }
    }
  }
}
.right {
  float: right;
  &__header {
    width: calc(100vw - 300px);
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    &__group {
      font-size: 20px;
      padding: 35px 40px 15px 40px;
      color: #333333;
      &__edit {
        float: right;
        border: solid 1px $mainLightBlueColor;
        color: $mainLightBlueColor;
        margin: -7px 40px 0 0;
        padding: 0 20px;
        line-height: 40px;
      }
    }
    &__members {
      font-size: 12px;
      color: $mainGrayColor;
      margin: 0 0 0 40px;
    }
  }
  &__contents {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    &__messages {
      &__name {
        padding: 46px 10px 10px 40px;
        color: $mainBlackColor;
        font-size: 16px;
        font-weight: bold;
        float: left;
      }
      &__data {
        padding: 46px 0 10px 0;
        color: $mainGrayColor;
        font-size: 12px;
      }
      &__text {
        // padding-left: 40px;
        padding-left: 20px;
        color: $mainBlackColor;
        font-size: 14px;
        clear: both;
      }
    }
  }
  &__footer {
    background-color: $mainGrayColor;
    width: calc(100vw - 300px);
    height: 90px;
    .form__message {
      margin: 20px 0 20px 40px;
      padding: 0 10px;
      width: calc(100vw - 530px);
      height: 50px;
      float: left;
    }
    .form__mask {
      float: left;
      height: 50px;
      margin-top: 20px;
      .icon {
        line-height: 50px;
      }
      .hidden{
        display: none;
      }
    }
    .form__submit {
      background-color: $mainLightBlueColor;
      margin: 20px 40px 20px 0px;
      width: 100px;
      height: 50px;
      float: left;
      color: $mainWhiteColor;
      text-align: center;
      line-height: 50px;
    }
    // &__textbox {
    //   box-sizing: border-box;
    //   background-color: $mainWhiteColor;
    //   margin: 20px 10px 20px 40px;
    //   height: 50px;
    //   width: calc(100vw - 515px);
    //   float: left;
    //   &__text {
    //     color: $mainBlackColor;
    //     font-size: 16px;
    //     line-height: 50px;
    //     float: left;
    //   }
    //   &__btn {
    //     text-align: right;
    //     line-height: 50px;
    //   }
    // }
    // &__send {
    //   background-color: $mainLightBlueColor;
    //   margin: 20px 40px 20px 15px;
    //   width: 100px;
    //   height: 50px;
    //   float: left;
    //   color: $mainWhiteColor;
    //   text-align: center;
    //   line-height: 50px;
    // }
  }
}