.left {
  &__header {
    background-color: #253141;
    height: 100%;
    width: 300px;
    color: #ffffff;
    font-size: 16px;
    padding: 35px 20px 15px 20px;
    float: left;
  }
  &__contents {
    background-color: #2f3e51;
    height: 100%;
    width: 300px;
    color: #ffffff;
    float: left;
  }
}

.right {
  &__header {
    height: 82px;
    font-size: 20px;
    width: 100%;
    padding: 0 40px;
  }
  &__contents {
    background-color: #fafafa;
  }
  &__footer {
    background-color: #38AEF0;
    text-align: right;
  }
}